@model List<Dish>
@{
    ViewData["Title"] = "ListAllDishes";
}

<link href="/css/styles.css" rel="stylesheet" />

<h1>All Team Members Dishes For FoCPotluck</h1>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>TM Name</th>
            <th>TM Phone Number</th>
            <th>Dish Name</th>
            <th>Dish Description</th>
            <th>Category</th>
            <th>Delete</th>
            <th>Edit</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Dish dishes in Model)
        {
            <tr>
                <td><a href="/FoCPotluck/teammember?tm=@dishes.id">@dishes.id</a></td>
                <td>@dishes.TMName</td>
                <td>@dishes.PhoneNumber</td>
                <td>@dishes.DishName</td>
                <td>@dishes.DishDescription</td>
                <td>@dishes.Category</td>
                <td>
                    <a href="/FocPotluck/deletedish?id=@dishes.id" class="btn btn-danger">Delete</a>
                </td>
                <td>
                    <a asp-action="EditDishform" asp-route-dishid="@dishes.id" class="btn btn-secondary">Edit</a>
                </td>
            </tr>
        }
    </tbody>
</table>
<a href="/FocPotluck/Index" class="btn btn-primary">All TM's Attending</a>

