@model Question
@{
    ViewData["Title"] = "editQform";
}

<h1>Edit Question # @Model.id</h1>

<form method="post" action="/QandA/saveques">
    <input type="hidden" name="id" value="@Model.id" />
    User Name: <input type="text" name="username" value="@Model.username" /><br />
    Title: <input type="text" name="title" value="@Model.title" /><br />
    Details: <input type="text" name="detail" value="@Model.detail" /><br />
    Posted: <input type="datetime-local" name="posted" value="@Model.posted" /><br />
    <label for="category">Category:</label>
    <select name="category" id="category">
        <option value="@Model.category">@Model.category</option>
        <option value="SOFTWARE">SOFTWARE</option>
        <option value="OFFICE365">OFFICE365</option>
        <option value="WINDOWS">WINDOWS</option>
        <option value="MYSQL">MYSQL</option>
        <option value="VISUALSTUDIO">VISUALSTUDIO</option>
        <option value="CHROME">CHROME</option>
        <option value="EDGE">EDGE</option>
        <option value="GITHUB">GITHUB</option>
    </select><br />
    Tags: <input type="text" name="tags" value="@Model.tags" /><br />
    Status: <input type="text" name="status" value="@Model.status" /><br />
    <input type="submit" value="Save" />
</form>