@model List<Question>
@{
    ViewData["Title"] = "Index";
}

<h1>Questions</h1>

<table class="table">
    <thead>
        <tr>
            <th>id</th>
            <th>username</th>
            <th>Title</th>
            <th>Detail</th>
            <th>Posted</th>
            <th>Category</th>
            <th>Tags</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (Question ques in Model)
        {
        <tr>
            <td><a href="/QandA/question?ques=@ques.id">@ques.id</a></td>
            <td>@ques.username</td>
            <td>@ques.title</td>
            <td>@ques.detail</td>
            <td>@ques.posted</td>
            <td>@ques.category</td>
            <td>@ques.tags</td>
            <td>@ques.status</td>
            <td>
                <a href="/QandA/delete?id=@ques.id" class="btn btn-danger">Delete</a>
                <a asp-action="EditQform" asp-route-quesid="@ques.id" class="btn btn-secondary">Edit</a>
                <a asp-action="ListAnswers" asp-route-quesid="@ques.id" class=" btn btn-primary">Answers</a>
            </td>
        </tr>
        }
    </tbody>
</table>
<a href="/QandA/addQform" class="btn btn-primary">Add Question</a>